body {
    width: 100%;
    background-color: black;
    color: aqua;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  ul {
    list-style: none;
  }
  
  .character-card {
    height: 250px;
    padding: 30px;
    margin: 10px;
    border: solid purple 1px;
    align-content: center;
    justify-content: center;
  }
